<div data-sidebar-target="menu" data-sidebar-target="menu" class="fixed left-0 top-0 w-64 h-full bg-gigas text-primary p-4 z-50 transition-transform">
  <%= link_to root_path, class:"flex items-center pb-4 border-b border-b-primary" do %>
    <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded object-cover" />
    <span class="text-lg font-medium text-white ml-3">
      <%= Current.organization&.name.truncate(20) %>
    </span>
  <% end %>
  <ul class="mt-4 text-lg">
    <li class="mb-2 group active">
      <%= link_to root_path, class:"flex items-center py-2 px-4 text-gray-300 hover:bg-bluebell hover:text-gray-100 rounded-md" do %>
        <svg class="w-6 h-6 mr-3 text-lg" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
          <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
        </svg>
        <span class="text-sm">Dashboard</span>
      <% end %>
    </li>
    <li class="mb-2 group">
      <%= link_to slugged_organization_patient_records_url(Current.organization.uid), class:"flex items-center py-2 px-4 text-gray-300 hover:bg-bluebell hover:text-gray-100 rounded-md" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3 text-lg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
        </svg>
        <span class="text-sm">Patient Records</span>
      <% end %>
    </li>
    <li class="mb-2 group">
      <%= link_to "", class:"flex items-center py-2 px-4 text-gray-300 hover:bg-bluebell hover:text-gray-100 rounded-md cursor-not-allowed" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3 text-lg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
        <span class="text-sm">Appointment</span>
      <% end %>
    </li>
    <li class="mb-2 group">
      <%= link_to users_path, class:"flex items-center py-2 px-4 text-gray-300 hover:bg-bluebell hover:text-gray-100 rounded-md" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3 text-lg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
        </svg>

        <span class="text-sm">Users</span>
      <% end %>
    </li>
  </ul>
</div>
<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay" data-sidebar-target="overlay" data-action="click->sidebar#closeSidebar"></div>