<li class="py-4">
  <div class="flex justify-between xl:block 2xl:flex align-center 2xl:space-x-2">
    <div class="flex space-x-4 xl:mb-4 2xl:mb-0">
      <div>
        <img class="w-6 h-6 rounded-full" src="https://flowbite-admin-dashboard.vercel.app/images/users/bonnie-green.png" alt="Bonnie image" />
      </div>
      <div class="flex-1 min-w-0">
        <p class="text-base font-semibold text-gray-900 leading-none truncate mb-0.5">
          <%= link_to user.name, user_profile_url(user_id: user.id) %>
        </p>
        <p class="mb-1 text-sm font-normal truncate text-indigo-700">
          <%= user&.administratorship.role.capitalize %>
        </p>
        <p class="text-xs font-medium text-gray-500">
          <%= user.email_address %>
        </p>
      </div>
    </div>
    <div class="inline-flex items-center w-auto xl:w-full 2xl:w-auto">
      <%= form_with model: user.administratorship, url: slugged_organization_administratorship_path(Current.organization.uid, user.administratorship.id), data: { controller: "administrator", action: "change->administrator#submitOnChange" }, method: :patch do |form| %>
        <%= form.select :role,
                        options_for_select(Administratorship.roles.keys.map { |role| [role.humanize, role] }, user.administratorship.role),
                        { },
                        class: "bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 mr-4 #{ user.current? && Current.user.can_manage? || user.administratorship.owner? ? "cursor-not-allowed" : "cursor-pointer" }",
                        disabled: (user.current? && Current.user.can_manage?) || user.administratorship.owner? %>
      <% end %>
    </div>
  </div>
</li>
