<p>
  <%= user.name %>
  <%= user.email_address %>
  <strong><%= user&.administratorship.role.capitalize %></strong>

    <%= form_with model: user, url: user_path(user), data: { controller: "form" }, method: :patch do | form | %>
    <label class="btn btn--small flex-item-no-shrink" for="<%= dom_id(user, :role) %>">
      <span class="for-screen-reader"><%= user.name %>'s role: <%= user.administrator? ? "Administrator" : "Member" %></span>
      <%#= image_tag "crown.svg", size: 24, aria: { hidden: "true" } %>
      <%= form.check_box :role, { data: { action: "form#confirmSubmission" }, hidden: true, id: dom_id(user, :role), disabled: ("disabled" if user.current? && Current.user.can_administer?) }, "administrator", "member" %>
    </label>
  <% end %>

  <%= button_to "Deactivate", user, method: :delete, disabled: ("disabled" if user.current? || !Current.user.can_administer?), data: { turbo_confirm: "Are you sure you want to permanently remove this person from the account? This can’t be undone." } %>
</p>