<!-- List registered users in the platform -->

<%= Current.user.id %>
<%= Current.user.email_address %>

<%= link_to "Profile", user_profile_url(user_id: Current.user.id) %>

<div>
 <%= render "invite" %>
</div>

<div>
 <%= render @users %>
</div>