<% content_for(:title) { "Join #{@organization.name}" } %>

<% content_for :head do %>
  <%= tag.meta property: "og:title", content: "Join #{@organization.name}" %>
  <%= tag.meta property: "og:type", content: "website" %>
  <%= tag.meta property: "og:description", content: "Invitation to org" %>
  <%= tag.meta property: "og:image", content: asset_url("denta.png") %>
  <%= tag.meta property: "og:url", content: slugged_organization_url(@organization.uid, @organization.slug) %>

  <%= tag.meta property: "twitter:title", content: "Join #{@organization.name}" %>
  <%= tag.meta property: "twitter:description", content: "Invitation to org"%>
  <%= tag.meta property: "twitter:image", content: asset_url("denta.png") %>
  <%= tag.meta property: "twitter:card", content: "summary_large_image" %>
<% end %>

<main class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0">
    <%= link_to slugged_organization_url(@organization.uid, @organization.slug), class: "flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10" do %>
      <%= image_tag "https://placehold.co/32x32", class: "mr-4 h-11" %>
      <span><%= @organization.name %></span>
    <% end %>
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow">
      <h2 class="text-2xl font-bold text-gray-900">
        Join the organization
      </h2>
      <%= form_with model: @user, url: join_path(params[:uid], params[:join_code]), class: "mt-8 space-y-6" do |form| %>
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
          <%= form.text_field :name, autocomplete: "name", placeholder: "Name", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" %>
        </div>
        <div>
          <label for="email_address" class="block mb-2 text-sm font-medium text-gray-900">Email Address</label>
          <%= form.email_field :email_address, autocomplete: "username", placeholder: "Email adddress", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" %>
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <%= form.password_field :password, autocomplete: "new-password", placeholder: "Password", required: true, maxlength: 72, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" %>
        </div>

        <button
          type="submit"
          id="join_organization"
          class="w-full px-5 py-3 text-base font-medium text-center text-white bg-indigo-700 rounded-lg hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 sm:w-auto"
        >
          Create account
        </button>
        <div class="text-sm font-medium text-gray-500">Already have an account?
        <%= link_to "Login here", new_session_path, class: "text-indigo-700 hover:underline" %></div>
      <% end %>
    </div>
  </div>
</main>
