<%= cache patient_record do %>

<tbody class="bg-white divide-y divide-gray-200">
  <tr class="hover:bg-gray-100">
    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap">
      <div class="text-base font-medium text-gray-900">
        <%= link_to patient_record.name, slugged_organization_patient_record_path(Current.organization.uid, patient_record) %>
      </div>
      <div class="text-sm font-normal text-gray-500 ">
        <%= patient_record.email_address %>
      </div>
    </td>
    <td class="p-4 text-base font-normal text-gray-900 whitespace-nowrape">
      <%= patient_record.procedure %>
    </td>
    <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs ">
      <%= time_tag patient_record.date %>
    </td>
    <td class="p-4 text-base font-normal text-ink whitespace-nowrap">
      <%= patient_record.id %>
    </td>

    <td class="p-4 space-x-2 whitespace-nowrap">
    <% if Current.user.can_manage? %>
        <%= link_to slugged_edit_organization_patient_record_url(Current.organization, patient_record), id: "edit_patient_record", class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-gigas hover:bg-bluebell focus:ring-4 focus:ring-linkwater" do %>
          <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
          Edit
        <% end %>
        <!--button type="button" id="deleteProductButton" data-drawer-target="drawer-delete-product-default" data-drawer-show="drawer-delete-product-default" aria-controls="drawer-delete-product-default" data-drawer-placement="right" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-apricot rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
            Delete
        </button-->
    <% end %>
    </td>
  </tr>
</tbody>
<% end %>