<% content_for(:title) { "Edit patient record" } %>

<h1>Edit Patient Records</h1>

<%= form_with model: @patient_record, url: [ Current.organization, @patient_record ] do |form| %>

  <% if @patient_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_record.errors.count, "error") %> prohibited this patient record from being saved:</h2>
      <ul>
        <% @patient_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "", autocomplete: "name", placeholder: "Name", autofocus: true, required: true %>
  </div>

  <div>
    <%= form.label :email_address %>
    <%= form.text_field :email_address, class: "", autocomplete: "username", placeholder: "Email address", autofocus: true, required: true %>
  </div>

  <div>
    <%= form.label :datetime %>
    <%= form.datetime_select :date, :ampm => true, :minute_step => 5, class: "", autofocus: true, required: true %>
  </div>

  <div>
    <%= form.label :procedure %>
    <%= form.text_field :procedure, class: "", autocomplete: "procedure", placeholder: "Procedure", autofocus: true, required: true %>
  </div>

  <%= render partial: "patient_records/accesses/access", collection: @users, as: :user, locals: { patient_record: @patient_record, creating_user: nil } %>


  <button type="submit" id="edit_organization" class="">
    <span>Update record</span>
  </button>

<% end %>