<% content_for(:title) { "Organization | #{@organization.name}" } %>

<%= content_for :aside do %>
   <%= render "layouts/shared/sidebar" %>
<% end %>

<%= content_for :header_title do %>
  <ul class="flex items-center text-sm ml-4">
    <li class="text-gray-700 mr-2 font-medium text-md">Patient Records</li>
  </ul>
<% end %>

<%= content_for :header do %>
  <%= render "layouts/shared/navbar" %>
<% end %>

<div class="mx-auto p-6">
  <div class="mb-4 col-span-full xl:mb-2">
    <nav class="flex mb-5" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
        <li class="inline-flex items-center">
          <%= link_to organization_patient_records_path(@organization.uid), class: "inline-flex items-center text-gray-700 hover:text-indigo-600" do %>
          <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
          </svg>
          Patient Records
          <% end %>
        </li>
        <li>
          <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <span class="ml-1 text-gray-400 md:ml-2" aria-current="page">New</span>
          </div>
        </li>
      </ol>
    </nav>
  </div>

<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6">



  <h3 class="mb-4 text-xl font-medium">Patient Record #<%= @patient_record.id %></h3>
  <p class="mt-1 text-sm leading-6 text-gray-600 mb-2">Access to this record is managed by the organization.</p>

    <div class="grid grid-cols-6 gap-6 mt-4">

      <div class="col-span-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
        <input value="<%= @patient_record.name %>" type="text", class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" disabled/>
      </div>

      <div class="col-span-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
        <%#= form.text_field :email_address, id: "name", autocomplete: "name", placeholder: "Patient email address", class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" %>
        <input value="<%= @patient_record.email_address %>" type="text", class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" disabled/>
      </div>

      <div class="col-span-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Procedure</label>
        <input value="<%= @patient_record.procedure %>" type="text", class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" disabled/>
      </div>

      <div class="col-span-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Date of procedure</label>
        <input value=<%= @patient_record.date %> type="text", class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" disabled/>
      </div>

      <div class="col-span-6 md:col-full">
        <% if Current.user.can_manage? %>
        <%= link_to edit_organization_patient_record_path(@organization.uid, @patient_record), id: "edit_patient_record", class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-gigas hover:bg-bluebell focus:ring-4 focus:ring-linkwater" do %>
          <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
          Edit
        <% end %>
        <button type="button" id="deleteProductButton" data-drawer-target="drawer-delete-product-default" data-drawer-show="drawer-delete-product-default" aria-controls="drawer-delete-product-default" data-drawer-placement="right" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-apricot rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
            Delete
        </button>
    <% end %>
        <%= link_to "Cancel", organization_patient_records_path, class: "text-sm font-semibold leading-6 text-gray-700 ml-2" %>
      </div>
    </div>
</div>

</div>
