<h1>Organization#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= @organization.name %>
<%= @organization.slug %>
<%= @organization.uid %>
<%= @organization.join_code %>

<div>
  Administratorship: <%= Current.user&.administratorship&.role.capitalize %><br>
</div>
</div>

<%= link_to organization_slug_url(Current.organization), organization_slug_url(Current.organization) unless Current.user.organization.nil? %>

<% if Current.user.can_manage? %>
  <%= link_to "edit information", edit_organization_url(@organization) %>
<% end %>