<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sked" %></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-gray-800 font-sans" data-controller="sidebar" >

    <aside id="aside">
      <%= yield :aside %>
    </aside>

    <%= yield :showcase %>


    <main class="<%= authenticated? ? "w-full md:w-[calc(100%-256px)] md:ml-64 min-h-screen transition-all main" : "" %>" data-sidebar-target="main">

      <header id="header">
        <%= yield :header %>
      </header>

      <%= yield %>
    </main>

    <%= render "layouts/style_guide" %>
  </body>
</html>
